/* 
xxs  100 - 479
xs   480 - 767
sm   768 - 996
md   997 - 1479
lg   1480 -
 */
 
 @charset "utf-8";
 /* CSS Document */
 html{background:#f2f4fa;font-size:62.5%; /* 1÷16=62.5% */ }
 body{font-size:14px;font-size:1.4rem ; /* 14÷10=1.4 */color: #222;font-family:'Microsoft YaHei','微软雅黑',SimSun,'宋体',SimHei ,"STHeiti Light",STHeiti,"Lucida Grande", Tahoma,Arial, Helvetica, sans-serif;}
 html,body,div,dl,form,h1,h2,h3,h4,h5,h6,ol,p,ul,dd,dl,dt,li,button,object,a,img,span{margin:0px;padding:0px; -webkit-font-smoothing: subpixel-antialiased;}
 /* table{border-collapse:collapse;border-spacing:0;width:100%;} */
 fieldset,img{border:0;}
 img,object{max-width:100%;}
 /* p{text-align: justify;} */
 a{outline:none;text-decoration:none;color: #222;}
 a:hover{color: #fff;text-decoration: none;}
 input[type='button']{outline:none;border:0 none;background-color:transparent;cursor:pointer;}
 /* address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400;} */
 ul,ol,li{list-style:none outside none;}
 button{outline: none;}
 h1,h2,h3,h4,h5,h6{font-size:100%;}
 /* q:before,q:after{content:'';content:none;} */
 input,textarea,select{font-weight:inherit;}
 input,select,textarea,button {vertical-align:middle}
 .clearFix{*zoom:1;clear:both;}
 .clearFix:after{content: '';display: block;clear:both;}
 .clear{width: 100%;overflow:hidden;}
 .lf,.md{float: left;}
 .rt{float: right;}
 .gp-flex{display: flex;display: -webkit-flex;flex-wrap: nowrap;}
 .gp-container{max-width: 1400px;position: relative;z-index: 2;margin-left: auto !important;margin-right: auto !important;}
 .row_l{position: absolute;left: calc(50% - 700px);z-index: 2;}
 .row_r{position: absolute;right: calc(50% - 700px);z-index: 2;}
 .gp-white, .gp-white *{color: #fff !important;}
 @media screen  and (max-width:1640px){
	 .gp-container{max-width: calc(100% - 280px);}
	 .row_l{left: 140px;}
	 .row_r{right: 140px;}
 }
 @media screen  and (max-width:1280px){
	 .gp-container{padding-left: 40px;padding-right: 40px;max-width: initial;}
	 .row_l{left: 40px;}
	 .row_r{right: 40px;}
 } 
 @media screen  and (max-width:992px){
	 .gp-container{padding-left: 0;padding-right: 0;margin-left: 20px !important;margin-right: 20px !important;}
	 .row_l{left: 20px;} .row .row_l{left: 0;}
	 .row_r{right: 20px;} .row .row_r{right: 0;}
 }
 @media screen  and (min-width:992px){
	 .only_mob{display: none !important;}
 }
 
 .pa-t,.pa-b,.pa-l,.pa-r,.pa-lt,.pa-rt,.pa-lb,.pa-rb,.pa-lm,.pa-rm,.pa-tm,.pa-bm,.pa-c{z-index: 2;position: absolute;}
 .pa{position: absolute;}.pr{position: relative;}.pa-t{left: 0;right: 0;top: 0;}.pa-b{left: 0;right: 0;bottom: 0;}.pa-l{left: 0;top: 0;bottom: 0;}.pa-r{right: 0;top: 0;bottom: 0;}.pa-lt{left: 0;top: 0;}.pa-rt{right: 0;top: 0;}.pa-lb{left: 0;bottom: 0;}.pa-rb{right: 0;bottom: 0;}.pa-lm{left: 0;top: 50%;transform: translateY(-50%);}.pa-rm{right: 0;top: 50%;transform: translateY(-50%);}.pa-tm{top: 0;left: 50%;transform: translateX(-50%);}.pa-bm{bottom: 0;left: 50%;transform: translateX(-50%);}.pa-c{left: 0;right: 0;top: 0;bottom: 0;}
 
 .z1{position: relative;z-index: 1;}
 .z2{position: relative;z-index: 2;}
 .z3{position: relative;z-index: 3;}
 .z4{position: relative;z-index: 4;}
 .z5{position: relative;z-index: 5;}
 
 .fs50{font-size: 50px;}
 .fs48{font-size: 48px;}
 .fs46{font-size: 46px;}
 .fs44{font-size: 44px;}
 .fs42{font-size: 42px;}
 .fs40{font-size: 40px;}
 .fs38{font-size: 38px;}
 .fs36{font-size: 36px;}
 .fs34{font-size: 34px;}
 .fs33{font-size: 33px;}
 .fs32{font-size: 32px;}
 .fs30{font-size: 30px;}
 .fs28{font-size: 28px;}
 .fs26{font-size: 26px;}
 .fs24{font-size: 24px;}
 .fs22{font-size: 22px;}
 .fs20{font-size: 20px;}
 .fs19{font-size: 19px;}
 .fs18{font-size: 18px;}
 .fs17{font-size: 17px;}
 .fs16{font-size: 16px;}
 .fs15{font-size: 15px;}
 .fs14{font-size: 14px;}
 .fs13{font-size: 13px;}
 .fs12{font-size: 12px;}
 
 [class*="lh"][class*="x1"]{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
 [class*="lh"][class*="x2"],[class*="lh"][class*="x3"],[class*="lh"][class*="x4"],[class*="lh"][class*="x5"],[class*="lh"][class*="x6"]{display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;}
 [class*="lh"][class*="x2"]{-webkit-line-clamp: 2;}
 [class*="lh"][class*="x3"]{-webkit-line-clamp: 3;}
 [class*="lh"][class*="x4"]{-webkit-line-clamp: 4;}
 [class*="lh"][class*="x5"]{-webkit-line-clamp: 5;}
 [class*="lh"][class*="x6"]{-webkit-line-clamp: 6;}
 .lh18,[class*="lh18"]{line-height: 18px;}
 .lh19,[class*="lh19"]{line-height: 19px;}
 .lh20,[class*="lh20"]{line-height: 20px;}
 .lh21,[class*="lh21"]{line-height: 21px;}
 .lh22,[class*="lh22"]{line-height: 22px;}
 .lh23,[class*="lh23"]{line-height: 23px;}
 .lh24,[class*="lh24"]{line-height: 24px;}
 .lh25,[class*="lh25"]{line-height: 25px;}
 .lh26,[class*="lh26"]{line-height: 26px;}
 .lh27,[class*="lh27"]{line-height: 27px;}
 .lh28,[class*="lh28"]{line-height: 28px;}
 .lh29,[class*="lh29"]{line-height: 29px;}
 .lh30,[class*="lh30"]{line-height: 30px;}
 .lh31,[class*="lh31"]{line-height: 31px;}
 .lh32,[class*="lh32"]{line-height: 32px;}
 .lh33,[class*="lh33"]{line-height: 33px;}
 .lh34,[class*="lh34"]{line-height: 34px;}
 .lh35,[class*="lh35"]{line-height: 35px;}
 .lh36,[class*="lh36"]{line-height: 36px;}
 .lh37,[class*="lh37"]{line-height: 37px;}
 .lh38,[class*="lh38"]{line-height: 38px;}
 .lh39,[class*="lh39"]{line-height: 39px;}
 .lh40,[class*="lh40"]{line-height: 40px;}
 .lh41,[class*="lh41"]{line-height: 41px;}
 .lh42,[class*="lh42"]{line-height: 42px;}
 .lh43,[class*="lh43"]{line-height: 43px;}
 .lh44,[class*="lh44"]{line-height: 44px;}
 .lh45,[class*="lh45"]{line-height: 45px;}
 .lh46,[class*="lh46"]{line-height: 46px;}
 .lh47,[class*="lh47"]{line-height: 47px;}
 .lh48,[class*="lh48"]{line-height: 48px;}
 .lh49,[class*="lh49"]{line-height: 49px;}
 .lh50,[class*="lh50"]{line-height: 50px;}
 .lh18x1{height: 18px;}.lh18x2{height: 36px;}.lh18x3{height: 54px;}.lh18x4{height: 72px;}.lh18x5{height: 90px;}.lh18x6{height: 108px;}
 .lh19x1{height: 19px;}.lh19x2{height: 38px;}.lh19x3{height: 57px;}.lh19x4{height: 76px;}.lh19x5{height: 95px;}.lh19x6{height: 114px;}
 .lh20x1{height: 20px;}.lh20x2{height: 40px;}.lh20x3{height: 60px;}.lh20x4{height: 80px;}.lh20x5{height: 100px;}.lh20x6{height: 120px;}
 .lh21x1{height: 21px;}.lh21x2{height: 42px;}.lh21x3{height: 63px;}.lh21x4{height: 84px;}.lh21x5{height: 105px;}.lh21x6{height: 126px;}
 .lh22x1{height: 22px;}.lh22x2{height: 44px;}.lh22x3{height: 66px;}.lh22x4{height: 88px;}.lh22x5{height: 110px;}.lh22x6{height: 132px;}
 .lh23x1{height: 23px;}.lh23x2{height: 46px;}.lh23x3{height: 69px;}.lh23x4{height: 92px;}.lh23x5{height: 115px;}.lh23x6{height: 138px;}
 .lh24x1{height: 24px;}.lh24x2{height: 48px;}.lh24x3{height: 72px;}.lh24x4{height: 96px;}.lh24x5{height: 120px;}.lh24x6{height: 144px;}
 .lh25x1{height: 25px;}.lh25x2{height: 50px;}.lh25x3{height: 75px;}.lh25x4{height: 100px;}.lh25x5{height: 125px;}.lh25x6{height: 150px;}
 .lh26x1{height: 26px;}.lh26x2{height: 52px;}.lh26x3{height: 78px;}.lh26x4{height: 104px;}.lh26x5{height: 130px;}.lh26x6{height: 156px;}
 .lh27x1{height: 27px;}.lh27x2{height: 54px;}.lh27x3{height: 81px;}.lh27x4{height: 108px;}.lh27x5{height: 135px;}.lh27x6{height: 162px;}
 .lh28x1{height: 28px;}.lh28x2{height: 56px;}.lh28x3{height: 84px;}.lh28x4{height: 112px;}.lh28x5{height: 140px;}.lh28x6{height: 168px;}
 .lh29x1{height: 29px;}.lh29x2{height: 58px;}.lh29x3{height: 87px;}.lh29x4{height: 116px;}.lh29x5{height: 145px;}.lh29x6{height: 174px;}
 .lh30x1{height: 30px;}.lh30x2{height: 60px;}.lh30x3{height: 90px;}.lh30x4{height: 120px;}.lh30x5{height: 150px;}.lh30x6{height: 180px;}
 .lh31x1{height: 31px;}.lh31x2{height: 62px;}.lh31x3{height: 93px;}.lh31x4{height: 124px;}.lh31x5{height: 155px;}.lh31x6{height: 186px;}
 .lh32x1{height: 32px;}.lh32x2{height: 64px;}.lh32x3{height: 96px;}.lh32x4{height: 128px;}.lh32x5{height: 160px;}.lh32x6{height: 192px;}
 .lh33x1{height: 33px;}.lh33x2{height: 66px;}.lh33x3{height: 99px;}.lh33x4{height: 132px;}.lh33x5{height: 165px;}.lh33x6{height: 198px;}
 .lh34x1{height: 34px;}.lh34x2{height: 68px;}.lh34x3{height: 102px;}.lh34x4{height: 136px;}.lh34x5{height: 170px;}.lh34x6{height: 204px;}
 .lh35x1{height: 35px;}.lh35x2{height: 70px;}.lh35x3{height: 105px;}.lh35x4{height: 140px;}.lh35x5{height: 175px;}.lh35x6{height: 210px;}
 .lh36x1{height: 36px;}.lh36x2{height: 72px;}.lh36x3{height: 108px;}.lh36x4{height: 144px;}.lh36x5{height: 180px;}.lh36x6{height: 216px;}
 .lh37x1{height: 37px;}.lh37x2{height: 74px;}.lh37x3{height: 111px;}.lh37x4{height: 148px;}.lh37x5{height: 185px;}.lh37x6{height: 222px;}
 .lh38x1{height: 38px;}.lh38x2{height: 76px;}.lh38x3{height: 114px;}.lh38x4{height: 152px;}.lh38x5{height: 190px;}.lh38x6{height: 228px;}
 .lh39x1{height: 39px;}.lh39x2{height: 78px;}.lh39x3{height: 117px;}.lh39x4{height: 156px;}.lh39x5{height: 195px;}.lh39x6{height: 234px;}
 .lh40x1{height: 40px;}.lh40x2{height: 80px;}.lh40x3{height: 120px;}.lh40x4{height: 160px;}.lh40x5{height: 200px;}.lh40x6{height: 240px;}
 .lh41x1{height: 41px;}.lh41x2{height: 82px;}.lh41x3{height: 123px;}.lh41x4{height: 164px;}.lh41x5{height: 205px;}.lh41x6{height: 246px;}
 .lh42x1{height: 42px;}.lh42x2{height: 84px;}.lh42x3{height: 126px;}.lh42x4{height: 168px;}.lh42x5{height: 210px;}.lh42x6{height: 252px;}
 .lh43x1{height: 43px;}.lh43x2{height: 86px;}.lh43x3{height: 129px;}.lh43x4{height: 172px;}.lh43x5{height: 215px;}.lh43x6{height: 258px;}
 .lh44x1{height: 44px;}.lh44x2{height: 88px;}.lh44x3{height: 132px;}.lh44x4{height: 176px;}.lh44x5{height: 220px;}.lh44x6{height: 264px;}
 .lh45x1{height: 45px;}.lh45x2{height: 90px;}.lh45x3{height: 135px;}.lh45x4{height: 180px;}.lh45x5{height: 225px;}.lh45x6{height: 270px;}
 .lh46x1{height: 46px;}.lh46x2{height: 92px;}.lh46x3{height: 138px;}.lh46x4{height: 184px;}.lh46x5{height: 230px;}.lh46x6{height: 276px;}
 .lh47x1{height: 47px;}.lh47x2{height: 94px;}.lh47x3{height: 141px;}.lh47x4{height: 188px;}.lh47x5{height: 235px;}.lh47x6{height: 282px;}
 .lh48x1{height: 48px;}.lh48x2{height: 96px;}.lh48x3{height: 144px;}.lh48x4{height: 192px;}.lh48x5{height: 240px;}.lh48x6{height: 288px;}
 .lh49x1{height: 49px;}.lh49x2{height: 98px;}.lh49x3{height: 147px;}.lh49x4{height: 196px;}.lh49x5{height: 245px;}.lh49x6{height: 294px;}
 .lh50x1{height: 50px;}.lh50x2{height: 100px;}.lh50x3{height: 150px;}.lh50x4{height: 200px;}.lh50x5{height: 250px;}.lh50x6{height: 300px;}
 
 
 @media screen and (max-width:1640px){
	 .fs50{font-size: 46px;}
	 .fs48,.fs46{font-size: 44px;}
 }
 @media screen and (max-width:1220px){
	 .fs50{font-size: 42px;}
	 .fs48,.fs46{font-size: 40px;}
	 .fs44,.fs42{font-size: 36px;}
	 .fs40{font-size: 32px;}
	 .fs38{font-size: 30px;}
	 .fs36{font-size: 28px;}
	 .fs34,.fs33{font-size: 27px;}
	 .fs32{font-size: 26px;}
	 .fs30,.fs28{font-size: 25px;}
	 .fs24,.fs26{font-size: 22px;}
	 .fs22{font-size: 20px;}
	 .fs20,.fs19{font-size: 18px;}
	 .fs17{font-size: 16px;}
 }
 @media screen and (max-width:992px){
	 .fs50{font-size: 38px;}
	 .fs48,.fs46{font-size: 36px;}
	 .fs44,.fs42{font-size: 32px;}
	 .fs40{font-size: 28px;}
	 .fs38{font-size: 26px;}
	 .fs36,.fs34,.fs33{font-size: 24px;}
	 .fs30,.fs32,.fs28{font-size: 22px;}
	 .fs24,.fs26{font-size: 22px;}
	 .fs22{font-size: 18px;}
	 .fs18{font-size: 16px;}
	 .fs16,.fs17{font-size: 14px;}
	 .fs14,.fs15{font-size: 13px;}
 }
 @media screen  and (max-width:767px){
	 .fs50{font-size: 32px;}
	 .fs48,.fs46{font-size: 30px;}
	 .fs44,.fs42{font-size: 26px;}
	 .fs38,.fs40{font-size: 24px;}
	 .fs36,.fs34,.fs33{font-size: 20px;}
	 .fs30,.fs32,.fs28{font-size: 19px;}
	 .fs24,.fs26{font-size: 18px;}
	 .fs22,.fs20{font-size: 17px;}
	 .fs18,.fs19{font-size: 14px;}
	 .fs16,.fs17{font-size: 14px;}
	 .fs14,.fs13,.fs15{font-size: 12px;}
 }
 
 .ul-inline{font-size: 0;}
 .ul-inline li{display: inline-block;*display: inline;*zoom:1;font-size: 14px;vertical-align: top;width: 100%;}
 .ul-inline a,.item{display: block;}
 .title{display: block;overflow: hidden;text-overflow: ellipsis;}
 .info{display: block;overflow: hidden;}
 .img,.img1x1,.img5x7,.img5x3,.img3x2,.img4x3,.img2x3,.img3x4{display: block;overflow: hidden;width: 100%;height: 0;padding-bottom: 56.25%;background-size: cover;background-position: center;background-repeat: no-repeat;position: relative;}
 .img1x1{padding-bottom: 100%;}.img5x7{padding-bottom: 140%;}.img5x3{padding-bottom: 60%;}.img3x2{padding-bottom: 66.6%;}.img4x3{padding-bottom: 75%;}.img2x3{padding-bottom: 150%;}.img3x4{padding-bottom: 133.3%;}
 .img img,.img1x1 img,.img5x7 img,.img5x3 img,.img3x2 img,.img4x3 img,.img2x3 img,.img3x4 img{width: 100%;display: block;transition: all linear .35s;-ms-transition: all linear .35s;-moz-transition: all linear .35s;-webkit-transition: all linear .35s;-o-transition: all linear .35s;}
 .img_centered{display: block;overflow: hidden;position: relative;}
 .img_centered img{position: absolute;top: 0;bottom: 0;left: 0;right: 0;max-height: 100%;width: auto;margin: auto;}
 .img_cover{display: block;overflow: hidden;position: relative;}
 .img_cover img{position: absolute;left: 50%;top: 50%;min-height: 100%;min-width: 100%;max-width: 1000%;transform: translate(-50%, -50%);width: auto;height: 100%;}
 .iconfont::before{font-family: "iconfont" !important;font-style: normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
 
 a:hover .img img,a:hover .img5x7 img,a:hover .img5x3 img,a:hover .img3x2 img,a:hover .img4x3 img,a:hover .img2x3 img,a:hover .img3x4 img{transform: scale(1.05);-ms-transform: scale(1.05);-moz-transform: scale(1.05);-webkit-transform: scale(1.05);-o-transform: scale(1.05);}
 .item:hover .img img,.item:hover .img5x7 img,.item:hover .img5x3 img,.item:hover .img3x2 img,.item:hover .img4x3 img,.item:hover .img2x3 img,.item:hover .img3x4 img{transform: scale(1.05);-ms-transform: scale(1.05);-moz-transform: scale(1.05);-webkit-transform: scale(1.05);-o-transform: scale(1.05);}
 .img_centered img{position: absolute;top: 0;bottom: 0;left: 0;right: 0;max-height: 100%;width: auto;margin: auto;}
 /* .time,.time_box{font-family: 'Arial';} */
 .clear{clear:both;}
 .rightDate{float: right;}
 .clear2{line-height: 0;}
 .clear2::after{content: '';display: inline-block;*display: inline;*zoom:1;width: 100%;height: 0;line-height: 0;}
 
 [class*='logo']{display: block;position: relative;}
 [class*='logo'] img{display: block;}
 [class*='logo'] a{position: absolute;left: 0;right: 0;top: 0;bottom: 0;display: block;}
 
 .ser{height: 45px;width: 500px;position: relative;z-index: 2;}
 .search{width: 100%;height: 100%;background: #fff;position: absolute;right: 0;z-index: 999;}
 .search input.notxt{position:absolute;width: calc(100% - 150px);height: 100%;color: #666;left: 0px;top: 0;padding:0;margin:0px;outline: none;font-size: 14px;z-index: 3;padding: 0 0 0 20px;background: transparent;border: 0;box-sizing: border-box;}
 .search input.notxt1{position:absolute;width: 120px;height: 100%;border:none;background: none;right: 0;cursor: pointer;z-index: 3;font-size: 0;bottom: 0;background: url(../images/search.png) center no-repeat #007072;box-sizing: border-box;}
 
 .visible_box{display: none;}
 .visible_box.on{display: block;}
 @keyframes y_scale{
	 0%{ transform: scaleY(0);-ms-transform: scaleY(0);-webkit-transform:scaleY(0);transform-origin: top;-ms-transform-origin: top;-webkit-transform-origin: top;}
	 100% {transform: scaleY(1);-ms-transform: scaleY(1);-webkit-transform:scaleY(1);transform-origin: top;-ms-transform-origin: top;-webkit-transform-origin: top;}
 }
 
 .col{float: left;}
 .col:nth-last-child(2){float: right;margin-right: 0 !important;}
 .col:first{margin-left: 0 !important;}
 
 [class*="gp-xs"],[class*="gp-sm"],[class*="gp-md"],[class*="gp-lg"]{display: inline-block;*display: inline;*zoom:1;vertical-align: top;width: 100%;}
 [class*="gp-avg"]{font-size: 0;letter-spacing: 0;}
 [class*="gp-avg"]>li{display: inline-block;*display: inline;*zoom: 1;font-size: 14px;vertical-align: top;font-size: 1.4rem;width: 100%;}
 @media screen and (min-width:100px){
	 [class*="gp-avg"] li{width: 100%;}
	 /*平均分配*/
	 .gp-avg-xxs-1 > li{width: 100%;}
	 .gp-avg-xxs-2 > li{width: 50%;}
	 .gp-avg-xxs-3 > li{width: 33.3%;}
	 .gp-avg-xxs-4 > li{width: 25%;}
	 .gp-avg-xxs-5 > li{width: 20%;}
 
 /* 	.gp-avg-1 > li{width: 100%;}
	 .gp-avg-2 > li{width: 50%;}
	 .gp-avg-3 > li{width: 33.3%;}
	 .gp-avg-4 > li{width: 25%;}
	 .gp-avg-5 > li{width: 20%;} */
 }
 @media screen and (max-width:479px) {
	 [class*="gp-xs"]{width: 100%;display: block;}
	 /*平均分配*/
	 .gp-avg-xxs-1 > li{width: 100%;}
	 .gp-avg-xxs-2 > li{width: 50%;}
	 .gp-avg-xxs-3 > li{width: 33.3%;}
	 .gp-avg-xxs-4 > li{width: 25%;}
	 .gp-avg-xxs-5 > li{width: 20%;}
 }
 @media screen and (min-width:479px) {
 
	 [class*="gp-xs"]{margin-right: -2px;margin-left: -2px;}
	 .gp-xs-1 {width: 8.33333333%;}
	 .gp-xs-2 {width: 16.66666667%;}
	 .gp-xs-3 {width: 25%;}
	 .gp-xs-4 {width: 33.33333333%;}
	 .gp-xs-5 {width: 41.66666667%;}
	 .gp-xs-6 {width: 50%;}
	 .gp-xs-7 {width: 58.33333333%;}
	 .gp-xs-8 {width: 66.66666667%;}
	 .gp-xs-9 {width: 75%;}
	 .gp-xs-10 {width: 83.33333333%;}
	 .gp-xs-11 {width: 91.66666667%;}
	 .gp-xs-12 {width: 100%;}
	 .gp-xs-offset-0 {margin-left: 0;}
	 .gp-xs-offset-1 {margin-left: 8.33333333%;}
	 .gp-xs-offset-2 {margin-left: 16.66666667%;}
	 .gp-xs-offset-3 {margin-left: 25%;}
	 .gp-xs-offset-4 {margin-left: 33.33333333%;}
	 .gp-xs-offset-5 {margin-left: 41.66666667%;}
	 .gp-xs-offset-6 {margin-left: 50%;}
	 .gp-xs-offset-7 {margin-left: 58.33333333%;}
	 .gp-xs-offset-8 {margin-left: 66.66666667%;}
	 .gp-xs-offset-9 {margin-left: 75%;}
	 .gp-xs-offset-10 {margin-left: 83.33333333%;}
	 .gp-xs-offset-11 {margin-left: 91.66666667%;}
	 .gp-xs-reset-order {margin-left: 0;margin-right: 0;left: auto;right: auto;float: left;}
	 [class*="gp-"].gp-xs-centered {margin-left: auto;margin-right: auto;display: block;}
	 [class*="gp-"].gp-xs-centered:last-child {float: none;}
	 [class*="gp-"].gp-xs-uncentered {margin-left: 0; margin-right: 0;float: left;}
	 [class*="gp-"].gp-xs-uncentered:last-child {float: left;}
	 /*平均分配*/
	 .gp-avg-xs-1 > li{width: 100%;}
	 .gp-avg-xs-2 > li{width: 50%;}
	 .gp-avg-xs-3 > li{width: 33.3%;}
	 .gp-avg-xs-4 > li{width: 25%;}
	 .gp-avg-xs-5 > li{width: 20%;}
 }
 
 @media screen and (min-width:767px) {
	 [class*="gp-sm"]{margin-right: -2px;margin-left: -2px;}
	 .gp-sm-1 { width: 8.33333333%;}
	 .gp-sm-2 {width: 16.66666667%;}
	 .gp-sm-3 {width: 25%;}
	 .gp-sm-4 {width: 33.33333333%;}
	 .gp-sm-5 {width: 41.66666667%;}
	 .gp-sm-6 {width: 50%;}
	 .gp-sm-7 {width: 58.33333333%;}
	 .gp-sm-8 {width: 66.66666667%;}
	 .gp-sm-9 {width: 75%;}
	 .gp-sm-10 {width: 83.33333333%;}
	 .gp-sm-11 {width: 91.66666667%;}
	 .gp-sm-12 {width: 100%;}
	 .gp-sm-offset-0 {margin-left: 0;}
	 .gp-sm-offset-1 {margin-left: 8.33333333%;}
	 .gp-sm-offset-2 {margin-left: 16.66666667%;}
	 .gp-sm-offset-3 {margin-left: 25%;}
	 .gp-sm-offset-4 {margin-left: 33.33333333%;}
	 .gp-sm-offset-5 {margin-left: 41.66666667%;}
	 .gp-sm-offset-6 {margin-left: 50%;}
	 .gp-sm-offset-7 {margin-left: 58.33333333%;}
	 .gp-sm-offset-8 {margin-left: 66.66666667%;}
	 .gp-sm-offset-9 {margin-left: 75%;}
	 .gp-sm-offset-10 {margin-left: 83.33333333%;}
	 .gp-sm-offset-11 {margin-left: 91.66666667%;}
	 .gp-sm-reset-order {margin-left: 0;margin-right: 0;left: auto;right: auto;float: left;}
	 [class*="gp-"].gp-sm-centered {margin-left: auto;margin-right: auto;display: block;}
	 [class*="gp-"].gp-sm-centered:last-child {display: block;}
	 [class*="gp-"].gp-sm-uncentered {margin-left: 0;margin-right: 0; }
	 [class*="gp-"].gp-sm-uncentered:last-child { display: block;}
	 /*平均分配*/
	 .gp-avg-sm-1 > li{width: 100%;}
	 .gp-avg-sm-2 > li{width: 50%;}
	 .gp-avg-sm-3 > li{width: 33.3%;}
	 .gp-avg-sm-4 > li{width: 25%;}
	 .gp-avg-sm-5 > li{width: 20%;}
 }  
 @media screen and (min-width:997px) {
	 [class*="gp-md"]{margin-right: -2px;margin-left: -2px;}
	 .gp-md-1 {width: 8.33333333%;}
	 .gp-md-2 {width: 16.66666667%;}
	 .gp-md-3 {width: 25%;}
	 .gp-md-4 {width: 33.33333333%;}
	 .gp-md-5 {width: 41.66666667%;}
	 .gp-md-6 {width: 50%;}
	 .gp-md-7 {width: 58.33333333%;}
	 .gp-md-8 {width: 66.66666667%;}
	 .gp-md-9 {width: 75%;}
	 .gp-md-10 {width: 83.33333333%;}
	 .gp-md-11 {width: 91.66666667%;}
	 .gp-md-12 {width: 100%;}
	 .gp-md-offset-0 { margin-left: 0;}
	 .gp-md-offset-1 { margin-left: 8.33333333%;}
	 .gp-md-offset-2 { margin-left: 16.66666667%;}
	 .gp-md-offset-3 { margin-left: 25%;}
	 .gp-md-offset-4 {margin-left: 33.33333333%;}
	 .gp-md-offset-5 {margin-left: 41.66666667%;}
	 .gp-md-offset-6 {margin-left: 50%;}
	 .gp-md-offset-7 {margin-left: 58.33333333%;}
	 .gp-md-offset-8 {margin-left: 66.66666667%;}
	 .gp-md-offset-9 {margin-left: 75%;}
	 .gp-md-offset-10 {margin-left: 83.33333333%;}
	 .gp-md-offset-11 { margin-left: 91.66666667%;}
	 .gp-md-reset-order { margin-left: 0;margin-right: 0; left: auto;right: auto; float: left;}
	 [class*="gp-"].gp-md-centered { margin-left: auto; margin-right: auto;float: none; }
	 [class*="gp-"].gp-md-centered:last-child {float: none;}
	 [class*="am-u-"].gp-md-uncentered { margin-left: 0; margin-right: 0; float: left;}
	 [class*="gp-"].gp-md-uncentered:last-child { float: left; }
	 /*平均分配*/
	 .gp-avg-md-1 > li{width: 100%;}
	 .gp-avg-md-2 > li{width: 50%;}
	 .gp-avg-md-3 > li{width: 33.3%;}
	 .gp-avg-md-4 > li{width: 25%;}
	 .gp-avg-md-5 > li{width: 20%;}
 }
 @media screen and (min-width:1480px) {
	 [class*="gp-lg"]{margin-right: -2px;margin-left: -2px;}
	 .gp-lg-1 {width: 8.33333333%;}
	 .gp-lg-2 {width: 16.66666667%; }
	 .gp-lg-3 { width: 25%;}
	 .gp-lg-4 { width: 33.33333333%;}
	 .gp-lg-5 {width: 41.66666667%;}
	 .gp-lg-6 {width: 50%;}
	 .gp-lg-7 {width: 58.33333333%;}
	 .gp-lg-8 {width: 66.66666667%; }
	 .gp-lg-9 {width: 75%;}
	 .gp-lg-10 {width: 83.33333333%;}
	 .gp-lg-11 { width: 91.66666667%;}
	 .gp-lg-12 {width: 100%;}
	 .gp-lg-offset-0 {margin-left: 0;}
	 .gp-lg-offset-1 { margin-left: 8.33333333%;}
	 .gp-lg-offset-2 {margin-left: 16.66666667%;}
	 .gp-lg-offset-3 {margin-left: 25%;}
	 .gp-lg-offset-4 { margin-left: 33.33333333%;}
	 .gp-lg-offset-5 {margin-left: 41.66666667%;}
	 .gp-lg-offset-6 {margin-left: 50%;}
	 .gp-lg-offset-7 {margin-left: 58.33333333%;}
	 .gp-lg-offset-8 {margin-left: 66.66666667%;}
	 .gp-lg-offset-9 {margin-left: 75%;}
	 .gp-lg-offset-10 {margin-left: 83.33333333%;}
	 .gp-lg-offset-11 {margin-left: 91.66666667%;}
	 .gp-lg-reset-order {margin-left: 0;margin-right: 0;left: auto;right: auto;float: left;}
	 [class*="gp-"].gp-lg-centered {margin-left: auto;margin-right: auto;float: none;}
	 [class*="gp-"].gp-lg-centered:last-child {float: none;}
	 [class*="gp-"].gp-lg-uncentered { margin-left: 0;margin-right: 0;float: left;}
	 [class*="gp-"].gp-lg-uncentered:last-child {float: left;}
	 /*平均分配*/
	 .gp-avg-lg-1 > li{width: 100%;}
	 .gp-avg-lg-2 > li{width: 50%;}
	 .gp-avg-lg-3 > li{width: 33.3%;}
	 .gp-avg-lg-4 > li{width: 25%;}
	 .gp-avg-lg-5 > li{width: 20%;}
 }
 
 /* 低版本浏览器 */
 .ie_bg{width:100%;height:100%;position:fixed;top:0;left:0;background-color:#000;opacity:0.85;filter:alpha(opacity=85);z-index:99998;}
 .ie9tips{width:400px;height:300px;position:fixed;top:50%;left:50%;margin:-150px 0 0 -200px;line-height: 1.8;color:#fff;z-index:99999;text-align:center;}
 .ie9tips a{color:red;} 
 .ie9tips img{display:block;margin:0 auto;opacity:0.9;filter:alpha(opacity=90);} 
 .ie9tips p{padding-top:10px;color: #fff;font-size: 16px;}
 
 @media screen  and (min-width:1024px){
	 .h_shadow,.h_transY{transform: translateY(0);transition: all ease-in-out 0.2s;-ms-transition: all ease-in-out 0.2s;-moz-transition: all ease-in-out 0.2s;-webkit-transition: all ease-in-out 0.2s;-o-transition: all ease-in-out 0.2s;}
	 .h_transY:hover{transform: translateY(-10px);}
	 .h_shadow:hover{box-shadow: 0 5px 20px 2px rgba(101,53,117,0.1);}
 }
 
 /* 文章页还原 */
 /* .article{overflow: hidden;} */
 .article img{display: inline-block;*display: inline;*zoom: 1;}
 .article video{max-width: 100%;}
 .article i,.article em{font-style: italic;}
 .article a{word-break: break-all;}
 .article strong,.article strong span{font-weight: bold;}
 .article i strong,.article em strong,.article strong i,.article strong em{font-style: italic;font-weight: bold;}
 .article table img{max-width: initial;}
 .article thead td,.article tbody td,.article tfoot td{border-width:1px;border-style: solid;border-color: #ddd;}
 .article ol{list-style:decimal inside none;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 40px;}
 .article ul{list-style: disc inside  none;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 40px;}
 .article ul li{list-style-type:disc;}
 .article ol li{list-style-type:decimal;}
 @media screen  and (max-width:767px){
	 .article img{width:auto !important;height:auto !important;}
	 .article div{overflow: auto;}
	 .article video{width: 100% !important;height: auto;}
	 .article table{width:100% !important;max-width: 100% !important;margin:0 !important;table-layout: fixed;word-break:break-all;box-sizing: border-box;display: block;}
	 .article table td{width:auto !important; }
	 .article table tr{height:auto !important;}
 }
 /* 文章页还原结束 */
 
 @media screen and (min-width:992px){
	 .effect0{opacity: 0;transition: all 0.8s ease-out;}
	 .effect0.isView{opacity: 1;-webkit-animation-name: effect0;animation-name: effect0;}
	 
	 .effect1,.effect11,.effect11 li{opacity: 0;transition: all 1.5s ease-out;transform: translateY(70px);}
	 .effect1.isView,.effect11.isView,.effect11.isView li{opacity: 1;transform: none;-webkit-animation-name: effect1;animation-name: effect1;}
	 
	 .effect2,.effect21,.effect21 li{opacity: 0;transition: all 1.5s ease-out;transform: translateX(50px);}
	 .effect2.isView,.effect21.isView,.effect21.isView li{opacity: 1;transform: none;-webkit-animation-name: effect2;animation-name: effect2;}
	 
	 .effect3,.effect31,.effect31 li{opacity: 0;transition: all 1.5s ease-out;transform: translateY(-70px);}
	 .effect3.isView,.effect31.isView,.effect31.isView li{opacity: 1;transform: none;-webkit-animation-name: effect3;animation-name: effect3;}
 
	 .effect4,.effect41,.effect41 li{opacity: 0;transition: all 1.5s ease-out;transform: translateX(-50px);}
	 .effect4.isView,.effect41.isView,.effect41.isView li{opacity: 1;transform: none;-webkit-animation-name: effect4;animation-name: effect4;}
	 
	 .effect{transition: transform .8s, opacity .8s ease-in-out;animation-duration: .8s; -webkit-animation-duration: .8s;animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out;}
 }
 @-webkit-keyframes effect0{
	 from {opacity: 0;}
	 to {opacity: 1;}
 }
 @keyframes effect0{
	 from {opacity: 0;}
	 to {opacity: 1;}
 }
 @-webkit-keyframes effect1{
	 from {opacity: 0;transform: translateY(70px);}
	 to {opacity: 1;transform: none;}
 }
 @keyframes effect1{
	 from {opacity: 0;transform: translateY(70px);}
	 to {opacity: 1;transform: none;}
 }
 @-webkit-keyframes effect2{
	 from {opacity: 0;transform: translateX(50px);}
	 to {opacity: 1;transform: none;}
 }
 @keyframes effect2{
	 from {opacity: 0;transform: translateX(50px);}
	 to {opacity: 1;transform: none;}
 }
 @-webkit-keyframes effect3{
	 from {opacity: 0;transform: translateY(-70px);}
	 to {opacity: 1;transform: none;}
 }
 @keyframes effect3{
	 from {opacity: 0;transform: translateY(-70px);}
	 to {opacity: 1;transform: none;}
 }
 @-webkit-keyframes effect4{
	 from {opacity: 0;transform: translateX(-50px);}
	 to {opacity: 1;transform: none;}
 }
 @keyframes effect4{
	 from {opacity: 0;transform: translateX(-50px);}
	 to {opacity: 1;transform: none;}
 }
 /* @media (prefers-reduced-motion: no-preference) {:root {scroll-behavior: smooth;}} */