@font-face {
  font-family: "iconfont"; /* Project id 1619938 */
  src: url('../fonts/iconfont.woff2?t=1694506527054') format('woff2'),
       url('../fonts/iconfont.woff?t=1694506527054') format('woff'),
       url('../fonts/iconfont.ttf?t=1694506527054') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-date5:before {
  content: "\e60e";
}

.icon-date3:before {
  content: "\e68c";
}

.icon-date4:before {
  content: "\e612";
}

.icon-file:before {
  content: "\e623";
}

.icon-youjiantou:before {
  content: "\e6df";
}

.icon-tongzhi:before {
  content: "\e62d";
}

.icon-web:before {
  content: "\e8af";
}

.icon-user4:before {
  content: "\e686";
}

.icon-menu2:before {
  content: "\e60c";
}

.icon-bianji:before {
  content: "\e60d";
}

.icon-icon-close2:before {
  content: "\e617";
}

.icon-right2:before {
  content: "\e618";
}

.icon-left2:before {
  content: "\eb21";
}

.icon-more:before {
  content: "\eb24";
}

.icon-weizhi:before {
  content: "\e640";
}

.icon-xiangzuojiantou:before {
  content: "\eb20";
}

.icon-douyin2:before {
  content: "\e659";
}

.icon-question:before {
  content: "\e616";
}

.icon-close2:before {
  content: "\e621";
}

.icon-in:before {
  content: "\e890";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-whatsapp:before {
  content: "\e97b";
}

.icon-home2:before {
  content: "\e603";
}

.icon-facebook:before {
  content: "\e60b";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-right3:before {
  content: "\eb23";
}

.icon-left3:before {
  content: "\e632";
}

.icon-jiantouzuo:before {
  content: "\e62a";
}

.icon-jiantouyou1:before {
  content: "\e62b";
}

.icon-user1:before {
  content: "\e600";
}

.icon-user2:before {
  content: "\e657";
}

.icon-can1:before {
  content: "\e8cf";
}

.icon-user3:before {
  content: "\e62c";
}

.icon-can2:before {
  content: "\e8b4";
}

.icon-date2:before {
  content: "\e8b8";
}

.icon-24px:before {
  content: "\e602";
}

.icon-start:before {
  content: "\eb06";
}

.icon-end:before {
  content: "\eb07";
}

.icon-fenxiang:before {
  content: "\e633";
}

.icon-close:before {
  content: "\e615";
}

.icon-daxue:before {
  content: "\e60a";
}

.icon-china:before {
  content: "\e601";
}

.icon-wangluo:before {
  content: "\e77c";
}

.icon-biaogan:before {
  content: "\e620";
}

.icon-gpower:before {
  content: "\e622";
}

.icon-share:before {
  content: "\e650";
}

.icon-jiantouyou:before {
  content: "\e84f";
}

.icon-map:before {
  content: "\e6f2";
}

.icon-shijian:before {
  content: "\e6dc";
}

.icon-jia:before {
  content: "\e629";
}

.icon-jian:before {
  content: "\e625";
}

.icon-jiantouyou2:before {
  content: "\eb22";
}

.icon-ziyuan:before {
  content: "\e63d";
}

.icon-zhiding:before {
  content: "\e76f";
}

.icon-search:before {
  content: "\e634";
}

.icon-qzone:before {
  content: "\e619";
}

.icon-link:before {
  content: "\e635";
}

.icon-wechat:before {
  content: "\e738";
}

.icon-sina:before {
  content: "\e614";
}

.icon-right:before {
  content: "\e63f";
}

.icon-menu:before {
  content: "\e61f";
}

.icon-left:before {
  content: "\e739";
}

.icon-next:before {
  content: "\eb08";
}

.icon-down:before {
  content: "\e73a";
}

.icon-up:before {
  content: "\e73b";
}

.icon-prev:before {
  content: "\eb09";
}

