body{background:  #f2f4fa;}
.wrapSubBanner{position: relative;}
.subBanner{padding-bottom: calc(444% / 19.2);height: 0;overflow: hidden;position: relative;background: center;background-size: cover;}
.subBanner img{display: block;width: 100%;}

.bread{line-height: 34px;text-align: right;padding: 40px 0 17px;float: right;position: relative;z-index: 50;}
.bread a{padding: 0 1px;display: inline-block;vertical-align: middle;color: #999;}
.bread a:first-child{padding-left: 28px;background: url(../images/bread.png) left center no-repeat;}
.bread a.on{color: #6c397f;}
.bread a:hover{}
.sub_content{padding-bottom: 90px;}
.sub_content .row{background: #fff;}
.content .row::after{content: '';display: block;clear: both;}

.sub_content{position: relative;}
.sub_content .sub_title{position: absolute;left: 0;top: 0;font-weight: bold;width: 1em;line-height: 1em;}
.sub_content .sub_title .more{display: block;margin: 20px auto 0;width: 1em;line-height: 1em;font-weight: normal;}
.sub_content2{padding-bottom: 0;}
.subMenuTitle{z-index: 2;line-height: 32px;padding: 36px 0 18px;position: relative;}
.subMenuTitle2{line-height: 32px;padding: 10px 0 18px;position: relative;}}
.subMenuTitle2 p{background: #6c397f;color: #fff;display: inline-block;padding: 27px 25px;font-weight: normal;min-width: 210px;}

.sub_left{width: 257px;float: left;position: relative;z-index: 3;padding: 0 0 70px;border-left: 3px solid #6c397f;background-color: #e9eaf0;}
.sub_left_title{line-height: 36px;padding: 35px 25px 40px;color: #fff;position: relative;font-weight: bold;background: #6c397f;z-index: 2;font-weight: normal;display: none;}
.sub_menu{overflow: hidden;min-height: 370px;}
.sub_menu ul{display: none;}
.sub_menu li{position: relative;}
.sub_menu a,.sub_menu a::before{transition: all ease-in-out .3s;-ms-transition: all ease-in-out .3s;-moz-transition: all ease-in-out .3s;-webkit-transition: all ease-in-out .3s;-o-transition: all ease-in-out .3s;}

.sub_menu > li {padding:18px 30px 0 18px;}
.sub_menu > li > a{line-height: 36px;position: relative;color: #444;padding: 2px 15px 2px 25px;display: block;border-bottom: 1px solid #e4e4e4;}
.sub_menu > li > a.current,.sub_menu > li.current > a,.sub_menu > li > a:hover,.sub_menu > li:hover > a,.sub_menu > li.on > a{z-index: 2;background: #fff;color: #6b3980;margin: 0;padding-left: 37px;font-weight: bold;padding: 8px 15px 8px 30px;box-shadow: 0 0 10px rgba(107,57,28,0.15);}
.sub_menu > li > a:hover,.sub_menu > li:hover > a{font-weight: bold;}
.sub_menu > li > a:hover:before,.sub_menu > li > a.current:before{content: '';width: 4px;height: 4px;background-color:#6b3980 ;position: absolute;left: 12px;top: 25px;}
.second_menu{margin: 0 0 0 20px;}
.second_menu > li{}
.second_menu > li.current{}
.second_menu > li > a{display: block;line-height: 25px;padding: 14px 20px;position: relative;background: #eff0f6;margin: 0 0 1px;color: #757575;border-bottom: 1px solid #e6e8ef;font-size: 16px;}
/* .second_menu > li > a::before{content: '';display: block;height: 20px;position: absolute;top: 50%;transform: translateY(-50%);left: 10px;background: #a51f2b;} */
.second_menu > li >a:hover,.second_menu li > a.active{background-color: #fff;}
.second_menu > li > a.current,.second_menu > li > a:hover,.second_menu > li.on > a{color: #6b3980;font-weight: bold;}
.second_menu > li > a.current::before,.second_menu > li > a:hover::before,.second_menu > li.on > a::before{width: 2px;}

.sub_menu .arrow{width: 24px;height: 24px;position: absolute;right: 12px;top: 24px;background: url(../images/sub_left_arrow1.png) center no-repeat;cursor: pointer;z-index: 3;transition: all ease-in-out 0.2s;-ms-transition: all ease-in-out 0.2s;-moz-transition: all ease-in-out 0.2s;-webkit-transition: all ease-in-out 0.2s;-o-transition: all ease-in-out 0.2s;z-index: 50;}
.second_menu .arrow{top: 15px;right: 13px;}
.sub_menu .arrow.on,.sub_menu > li:hover > .arrow,.sub_menu > li.on > .arrow{/* background: url(../images/sub_left_arrow2.png) center no-repeat; */}
.sub_menu .arrow.on,.sub_menu > li.on > .arrow{ transform: rotate(45deg);}

/*新闻动态*/
.news_list1 li{margin-bottom: 20px;background-color: #fff;}
.news_list1 li >a {display: block;}
.item_img{width: 300px;float: left;}
.item_img .img{padding-bottom: 66.67%;}
.item_txt{margin-left: 300px;padding: 30px 30px 0 ;}
.item_info .time{width: 82px;height: 75px;position: relative;margin: -33px 0 0 -10px;}
.item_info .time::before,.time::after{content: '';position: absolute;left: 0;}
.item_info .time::before{width: 86px;height: 13px;background: url(../images/date_top.png) no-repeat center;top: -13px;left: -2px;}
.item_info .time::after{  height: 0;width: 0;border-top: 12px solid #6c397f;border-left: 80px solid transparent;position: absolute;bottom: -12px;}
.item_info .time span{display: block;line-height: 1;color: #fff;text-align: center;}
.item_info .time .day{font-weight: bold;font-size: 22px;margin-bottom: 10px;padding-top: 15px;}

.item_info{}
.item_info .title{line-height: 24px;max-height: 48px;overflow: hidden;margin-bottom: 10px;}
.item_info .summary{line-height: 22px;max-height: 44px;overflow: hidden;color: #999;}
.item_info .time{width: 80px;background-color: #6c397f;margin-top: 20px;margin-left: -30px;}
.news_list1 li.noImg .item_txt{margin-left: 0;}
/*学院领导*/
.leaderList{margin: 0 -15px;}
.leaderList li {width: 25%;margin-bottom: 40px;}
.leaderList li > a{display: block;margin: 0 15px;transition: transform 0.35s ease-out;box-shadow: 0 0 10px rgba(0,0,0,0.08);}
.leaderList li .img{padding-bottom: 149.38%;background-color: #d6d6d6;}
.item_txt2{padding: 20px 10px 25px 24px;}
.item_txt2 h3{font-weight: normal;color: #6c397f;margin-bottom: 5px;}
.item_txt2 p{color: #6c397f;}
/*领导详情页*/
.leader_con{min-height: 500px;}
.leader_top{width: 100%;overflow: hidden;margin-bottom: 55px;}
.leader_img{width: 245px;float: left;}
.leader_img .img{padding-bottom: 149.38%;background-color: #d6d6d6;}
.leader_rt{margin-left: 280px;}
.leader_rt h3{color: #6c397f;margin-bottom: 5px;}
.leader_rt .p1{color: #6c397f;margin-bottom: 30px;}
.leader_rt .p2{color: #999;line-height: 1.8;margin-bottom: 15px;}
.sub_right{margin: 0 0 0 260px;position: relative;padding: 0 0 0 20px;}
.sub_right2{padding: 27px 50px 90px;background-color: #fff;}
.leader_bottom h2{border-bottom: 1px solid #e5e5e5;padding: 10px 0;margin-bottom: 12px;font-size: 16px;text-indent: 0;}
.leader_bottom {color: #757575;}
/*学习园地*/
.IFAT_list3{border-top: 1px solid #f0f0f0;}
.IFAT_list3 li{padding: 20px 0;border-bottom: 1px solid #f0f0f0;}
.IFAT_list3 li .time{float: left;width: 83px;text-align: center;border: 1px solid #efe2be;height: 32px;line-height: 32px;;}
.IFAT_list3 li .title{margin-left:104px;height: 32px;line-height: 32px;}


/* article_page_start */
.pageArticle{position: relative;}
.pageArticleTitle{overflow: hidden;padding: 0 0 9px;margin: -4px 0 0;}
.pageArticleTitle h3{line-height: 1.4;color: #222;/* max-width: 950px; */margin: 0 auto;text-align: center;}
.articleAuthor{padding: 3px 0 20px;text-align: center;margin: 0 0 10px;font-size: 0;position: relative;border-bottom: 1px solid #f0f0f0;line-height: 24px;}
.articleAuthor span{display: inline-block;*display: inline;*zoom:1;margin: 0 18px;color: #999;font-size: 14px;}

.articleBottom{margin: 40px 0 0;position: relative;border-top: 1px solid #e5e5e5;}
.articleBottom::after{content: '';display: block;clear: both;}
.article{position: relative;text-align: justify;line-height: 1.8;}
.article img {margin-top: 10px;margin-bottom: 10px;}
.jsArticle{color: #757575;}
.article p{line-height: 1.8;}
.pageArticle .article{}
.Annex{overflow: hidden;margin: 24px 0 0;}
.Annex strong{display: block;position: relative;color: #444;margin: 0 0 10px;}
.annexList{margin: 0;padding: 2px 0 0 0;}
.annexList li{line-height: 27px;}
.annexList li:first-child{}
.annexList li a{color: #999;margin: 0 0 9px;display: block;}
.annexList li a:hover{color: #6b3980;}

.share_box{line-height: 7px;color: #999;z-index: 2;font-size: 0;position: relative;z-index: 100;position: relative;float: right;}
.share_box .share_btn{line-height: 20px;margin: 0 0 10px 0;position: relative;width: 108px;height: 108px;background-position: center;background-repeat: no-repeat;background-size: 16px;cursor: pointer;display: inline-block;*display: inline;*zoom:1;vertical-align: middle;background: #f5f5f5;padding: 1px 0;}
.share_box .share_icon{width: 36px;height: 36px;margin: 30px auto 3px;background: url(../images/share_wechat.png) center no-repeat;}
.share_box .share_text{color: #757575;text-align: center;}
.share_box .share_btn .alert_box{position: absolute;right: 0%;bottom: 100%;padding: 6px;background: #fff;box-shadow: 0 0 16px rgba(0,0,0,.1);display: none;}
.share_box .share_more .alert_box{background: #fff;white-space: nowrap;font-size: 0;line-height: 0;padding: 0 0 52px 0;bottom: 0;border-radius: 30px;}
.share_box .share_more .share_btn{margin: 0;border: 0;border-radius: 0;}
.share_box .share_btn .alert_box canvas{display: block;}
.share_box .share_btn:hover .alert_box{display: block;}
/*学生风采*/
.IFAT_list5{margin: 0 -27px;}
.IFAT_list5 li{width: 50%;margin-bottom: 50px;}
.IFAT_list5 li > a{display: block;margin: 0 27px;transition: transform 0.35s ease;}
.IFAT_list5 li .img{padding-bottom: 75%;}
.item_txt3 {border:1px solid #f0f0f0;height: 80px;line-height: 80px;overflow: hidden;text-align: center;padding: 0 15px;white-space: nowrap;text-overflow: ellipsis;}
.IFAT_list5 li > a:hover{transform: translateY(-10px);}
.pageArticle2{background-color: #fff;padding: 35px 30px;}
@media screen  and (max-width:1386px){
	.share{/* position: relative; *//* top: 0; *//* right: 0; *//* margin: 30px 0 0; */}
	.share .bdsharebuttonbox > a{margin: 0 10px 0 0;display: inline-block;*display: inline;*zoom:1;}
}
@media screen  and (max-width:1024px){
	.pageArticle{}
}
@media screen  and (max-width:767px){
	.articleAuthor{padding: 8px 0;line-height: 20px;}
	.articleAuthor span{margin: 0 10px;}
	
	.Annex{margin: 0 0 20px;}
	
}
/* article_page_end */

/* pages_start */
.pages {padding: 0;color:#999;font-size: 0;text-align:center;margin: 32px 0 0;}
.pages:after,.pages:before{content:" "; display:table}
.pages>a:first-child{}
.pages>a{display:inline-block;*display: inline;*zoom:1;cursor: pointer;width: 64px;height: 64px;line-height: 64px;position:relative;text-align: center;vertical-align: top;font-size: 16px;transition: all 0.35s ease-in-out;margin: 0 5px;color: #999;border: 1px solid rgba(0,0,0,.06);background: #fff;border-radius: 50%;background: none;}
.pages .start,.pages .end,.pages > span,.pages .next,.pages .prev{margin: 0 37px;font-size: 18px;}
.pages > span{font-size: 26px;font-family: arial;color: #666;margin: 0 12px;}
.pages > a:hover ,.pages > a.on_page{background-color:#6c397f;color: #fff;border-color: #6c397f;}

.pages .select_page{display: inline-block;*display: inline;*zoom:1;margin: 0 0 0 10px;}
.pages .select_page span{font-size: 16px;display: inline-block;*display: inline;*zoom:1;line-height: 30px;vertical-align: middle;padding: 0 10px;color: #666;}
.pages .select_link{display: inline-block;*display: inline;*zoom:1;width: 108px;height: 44px;vertical-align: middle;position: relative;border: 1px solid #979797;background: #fff;border-radius: 60px;}
.pages .select_link:hover{border-radius: 0 0 20px 20px;background: #004DA3;border-color: #004DA3;}
.pages .select_link:hover > a{color: #fff;}
.pages .select_link .arrow{width: 20px;height: 20px;position: absolute;right: 9px;bottom: calc(50% - 10px);background: url(../images/select_arrow.png) center center no-repeat;transition: all ease-in-out 0.2s;-ms-transition: all ease-in-out 0.2s;-moz-transition: all ease-in-out 0.2s;-webkit-transition: all ease-in-out 0.2s;-o-transition: all ease-in-out 0.2s;cursor: pointer;}
.pages .select_link:hover .arrow{transform: rotate(180deg);background: url(../images/select_arrow2.png) center center no-repeat;}
.pages .select_link > p{display: block;font-size: 16px;color: #666;line-height: 44px;text-align: left;padding: 0 0 0 22px;}
.pages .select_link:hover > p{color: #fff;}
.pages .select_link .alertBox{height: 0;position: absolute;left: -1px;bottom: 100%;background: #004DA3;right: -1px;border-radius: 20px 20px 0 0;padding: 6px 0 0;overflow: hidden;border: 0;opacity: 0;transition: all ease-in-out 0.2s;-ms-transition: all ease-in-out 0.2s;-moz-transition: all ease-in-out 0.2s;-webkit-transition: all ease-in-out 0.2s;-o-transition: all ease-in-out 0.2s;max-height: 200px;overflow: auto;}
.pages .select_link:hover .alertBox{opacity: 1;height: auto;}
.pages .select_link .alertBox a{display: block;font-size: 14px;color: #fff;line-height: 1.5;padding: 6px 0;text-align: center;}
.pages .select_link .alertBox a:hover{background: rgba(255,255,255,0.2);}

@media screen and (min-width:992px){
	.news_list1 li >a,.leaderList li > a{transition: all 0.35s ease-out;}
	.news_list1 li >a:hover{transform: translateX(10px);}
	.leaderList li > a:hover{transform: translateY(-10px);}
}


@media screen and (max-width:992px){
	.pages{margin: 20px 0 0;}
	.pages>a{font-size: 13px;width: 30px;height: 30px;line-height: 30px;}
	/* .pages .start, .pages .end, .pages > span, .pages .next, .pages .prev{padding: 0 10px;} */
	
	.pages .select_page span{font-size: 13px;line-height: 30px;}
	.pages .select_link{height: 30px;}
	.pages .select_link p{font-size: 13px;line-height: 30px;}
	.pages .select_link .arrow{bottom: 5px;}
	
}
@media screen and (max-width:767px){
	/* .pages>a, .pages>span{width: 24px;height: 24px;line-height: 24px;} */
	.pages a{display: none;}
	.pages .select_page{display: block;margin: 15px 0 0;}
	.pages .select_link,.pages .select_link p{height: 24px;line-height: 24px;}
	.pages .select_link .arrow{bottom: 2px;}
	.pages a.start,.pages a.prev,.pages a.on_page,.pages a.next,.pages a.end{display: inline-block;*display: inline;*zoom:1;}
	.pages .start, .pages .end, .pages .next, .pages .prev, .pages > span{margin: 0 5px;}
}
@media screen and (max-width:413px){
	/* .pages .start, .pages .end, .pages .next, .pages .prev, .pages > span{margin: 0 2px;padding: 0 5px;} */
}
/* pages_end */




/* .wrap_special2 .special .year::before{background-color: transparent;} */
@media screen  and (max-width:1480px){
	.sub_left{width: 230px;}
	.sub_right{margin: 0 0 0 220px;}

	
}
@media screen  and (max-width:996px){
	.subMenuTitle{padding-top: 15px;display: inline-block;}
	.bread{padding-top: 15px;}

}
@media screen  and (max-width:1280px){
	.subMenuTitle{margin-right: 0;}


}
@media screen  and (max-width:996px){
	.sub_left{width: auto;float: none;padding: 0;}
	.sub_right{margin: 0;padding: 0 20px 20px;}
	.sub_left_title{position: relative;margin: 0;padding: 10px ;background: #6c397f;line-height: 28px;text-align: center;display: block;}
	.sub_menu{display: none;min-height: initial;padding: 0 0 30px;}
	.sub_menu > li > a{padding: 5px 16px;}
	.sub_menu .arrow{top: 12px;}
	.leaderList{margin: 0 -10px;}
	.leaderList li > a{margin: 0 10px;}
	.sub_content{padding-bottom: 40px;}
	.IFAT_list5{margin: 0 -10px;}
	.IFAT_list5 li > a{margin: 0 10px;}
	.IFAT_list5 li{margin-bottom: 20px;}
	.item_txt3{height: 50px;line-height: 50px;}

}
@media screen and (max-width: 767px){
.leaderList li{width: 33.3%;margin-bottom: 20px;}
.leader_rt{margin: 15px auto;}
.leader_img{float: none;margin: 0 auto;}
.leader_rt h3{text-align: center;}
.leader_rt .p1{text-align: center;}
	
}
@media screen and (max-width: 640px){
	.item_img{float: none;width: 100%;}
	.item_txt{margin: 0 ;padding: 20px 20px 0 20px;}
	.leaderList li{width: 50%;}
	.IFAT_list5 li{width: 100%;}
}
